.navbar-container {
  min-width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #E5E7EB;
  list-style: none;
}

.navbar-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #E5E7EB;
  list-style: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-item {
  width: 100%;
  height: 50px;
  text-align: center;
  list-style: none;
}

.navbar-item-deco {
  width: 100%;
  height: 50px;
  text-align: center;
  position: inherit;
  list-style: none;
  top: 50em;
}

.navbar-link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  line-height: 50px;
  list-style: none;
  color: #264A6E;
}

img{
  width: 13em;
  height: 5em;
}

.navbar-container .row{
  line-height: 3;
}

.icon{
  color: #264a6e;
}

a, a:hover{
  color: #264a6e !important;
}

.logout{
  width: 100%;
  height: 100%;
  position: relative;
  top: 35em;
  display: block;
  text-decoration: none;
  line-height: 50px;
  list-style: none;
  color: #264A6E;
}

.deco{
  position: relative;
  left: 7em;
  bottom: 2.3em;
}
